{
  "extends": ["vacuumlabs"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-duplicates": "error",
    "object-curly-spacing": "off",
    "no-duplicate-imports": "off"
  }
}
